.team-items img {
  height: 150px;
  width: 150px;
  border: 8px solid #eee;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.team-items .card {
  position: relative;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.team-items .name {
  font-size: 20px;
  margin-bottom: 6px;
  padding-top: 90px;
}
.team-items .job {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
  font-style: italic;
}
.team-items .card .icons .icon a {
  font-size: 14px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  color: var(--secondary-color);
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.team-items .card .icons .icon a:hover{
  color: var(--white-color);
  border-color: var(--white-color);
}




.team-items .card .text-center {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.team-items .card .job,
.team-items .card .name {
  color: white;
}



.cont-team .mt-80 {
  margin-top: 80px;
}
