.team-items img {
  height: 150px;
  width: 150px;
  border: 8px solid #eee;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.team-items .card {
  position: relative;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.team-items .name {
  font-size: 20px;
  margin-bottom: 6px;
  padding-top: 90px;
}
.team-items .job {
  color: #fa2525;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}
.team-items .card .icons .icon {
  font-size: 14px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.team-items .dis {
  color: #7e7c7c;
  line-height: 2;
}

.team-items .card:hover .icons .icon {
  background-color: #f06d6d;
}
.team-items .card:hover .text-center {
  background-color: var(--primary-color);
  color: white;
}
.team-items .card:hover .job,
.team-items .card:hover .name {
  color: white;
}
.team-items .card:hover .dis {
  color: #c4c4c4;
}
.team-items .card .icons .icon:hover {
  background-color: rgb(235, 123, 103);
}
.cont-team .mt-80 {
  margin-top: 80px;
}
